# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.cpp
# Virtual environment
venv/

# Database
instance/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# OS files
.DS_Store

codeAnalysis
optimized
week5
*.png
*.pkl
*.jsonl
